<section id="experience">
  <h1 class="title">Tecnologías</h1>
  <div class="experience-details-container">
    <div class="about-containers">
      
      <div class="details-container">
        <h2 class="experience-sub-title">Backend & Systemas</h2>
        <div class="article-container">
          <article>
            <img src="assets/JavaScript-logo.png" alt="Experience icon" class="icon" />
            <div>
              <h3>JavaScript</h3>
              <p>Experiencia y formación</p>
            </div>
          </article>
          <article>
            <img src="assets/Typescript_logo_2020.png" alt="Experience icon" class="icon" />
            <div>
              <h3>Typescript</h3>
              <p>Experiencia y formación</p>
            </div>
          </article>
          <article>
            <img src="assets/C_Logo.png" alt="Experience icon" class="icon" />
            <div>
              <h3>C/C++</h3>
              <p>Experiencia y formación</p>
            </div>
          </article>
          <article>
            <img src="assets/python_logo.png" alt="Experience icon" class="icon" />
            <div>
              <h3>Python</h3>
              <p>Experiencia</p>
            </div>
          </article>
          <article>
            <img src="assets/Go-Logo.png" alt="Experience icon" class="icon" />
            <div>
              <h3>Go</h3>
              <p>Conocimiento Básico</p>
            </div>
          </article>
        </div>
      </div>

      <div class="details-container">
        <h2 class="experience-sub-title">Fullstack & Tools</h2>
        <div class="article-container">
          <article>
            <img src="assets/angular_logo.png" alt="Experience icon" class="icon" />
            <div>
              <h3>Angular</h3>
              <p>Experiencia y formación</p>
            </div>
          </article>
          <article>
            <img src="assets/fast_logo.png" alt="Experience icon" class="icon" />
            <div>
              <h3>Fast API</h3>
              <p>Experiencia y formacion</p>
            </div>
          </article>
          <article>
            <img src="assets/node_logo.png" alt="Experience icon" class="icon" />
            <div>
              <h3>Node.js</h3>
              <p>Experiencia y Formacion</p>
            </div>
          </article>
          <article>
            <img src="assets/Vitejs-logo.png" alt="Experience icon" class="icon" />
            <div>
              <h3>Vite</h3>
              <p>Experiencia y Formacion</p>
            </div>
          </article>
          <article>
            <img src="assets/github.png" alt="Experience icon" class="icon" />
            <div>
              <h3>Git</h3>
              <p>Conocimiento</p>
            </div>
          </article>
        </div>
      </div>

    </div>
  </div>
</section>