<section id="projects">
  <h1 class="title">Conoce Mis Proyectos</h1>
  <div class="experience-details-container">
    <div class="about-containers">
      
      <div class="details-container color-container">
        <div class="article-container">
          <img src="assets/Moodmap.png" alt="Moodmap" class="project-img" />
        </div>
        <h2 class="experience-sub-title project-title">Moodmap</h2>
        <div class="btn-container">
          <a href="https://github.com/Mati-CR-1702/Proyecto-Capstone-MoodMap-2025" target="_blank" class="btn btn-color-2 project-btn">Github</a>
          <a href="https://www.canva.com/design/DAGqWwp1LB0/_0ZAK2fjo6ZyXGMucvE1kA/edit" target="_blank" class="btn btn-color-2 project-btn">Live Demo</a>
        </div>
      </div>

      <div class="details-container color-container">
        <div class="article-container">
          <img src="assets/biopae.png" alt="Digitador Piamarta" class="project-img" />
        </div>
        <h2 class="experience-sub-title project-title">Digitador Piamarta</h2>
        <div class="btn-container">
          <a href="https://github.com/gaboramaSoftware/digitador_piamarta" target="_blank" class="btn btn-color-2 project-btn">Github</a>
          <a href="https://github.com/gaboramaSoftware" target="_blank" class="btn btn-color-2 project-btn">Live Demo</a>
        </div>
      </div>

    </div>
  </div>
</section>